.report {
  margin-top: 60px;
}

.form-inline {
  margin-bottom: 10px;
}

.filter {
  float: right;
  margin-bottom: 10px;
}

.export {
  float: left;
  width: 20%;
}

.export > button {
  margin-top: 4px;
}