main {
  padding: 60px 20px 10px 20px;
}

/*main > div {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}*/

main li {
  border-right: 1px solid;
  padding-right: 5px;
}

main li:last-child {
  border-right: none;
}

main h6 {
  display: inline;
}

main li h6:first-child {
  font-weight: 400;
}

header {
  background-color: #eceeef;
  margin-left: 1px;
  height: 40px;
  padding-top: 2px;
}

h4 {
  float: left;
  margin-top: 3px;
}

ul {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}

.form-inline {
  margin-bottom: 10px;
}

.filter {
  float: right;
  margin-bottom: 10px;
}

.export {
  float: left;
  width: 20%;
}

.export > button {
  margin-top: 4px;
}

@media print {
  .tools {
    display: none;
  }
  main {
    padding-top: 10px;
  }
}